/* RedirectPage.css */
.redirect-container {
    font-family: Nunito;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('redirect.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .proceed-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .proceed-button:hover {
    background-color: #45a049;
  }
  